@keyframes carMove {
    0% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(50%);
    }
    100% {
        transform: translateX(100%);
    }
}

.animate-carMove {
    animation: carMove 2s linear infinite;
}
